#navbar{
    margin-top: -48px;
}
#Medschedule {
    margin-left: 80px;
    margin-top: 0px;
    width: 400px;
    height: 140px;
}
#Home {
    font-size: 29px;
    color: #333;
    text-align: center;
    margin-top: 10px;
    margin-left: 150px;
}
#Testimonials {
    font-size: 29px;
    color: #333;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
}
#Aboutus {
    font-size: 29px;
    color: #333;
    width: 140px;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
}
#Login {
    font-size: 29px;
    width: 200px;
    height: 60px;
    color: #333;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
    color: #fff;
    background-color:rgb(39, 13, 132);
    border-radius: 10px;
    text-decoration: underline;
}
#body{
    background-color: rgb(39, 13, 132);
    color: white;
    height: 300px;
    margin-top: -80px;
    font-size: 20px;
    text-align: center;
}
#def {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
}
#para {
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
}
#cards {
    margin-bottom: 50px;
    height: 400px;
    width: 1000px;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/Logo-Photoroom.png");
}